/*Custom Fonts----------------------*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

html{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 14px;
}
body {
    width: 100vw;
    min-height: 100vh;
    color: #FFF;
    margin: 0;
    padding: 0;

}

.clearfix {
    clear:both;
}
h1,h2,h3 {
    font-family: 'Righteous', cursive;
}
h1 {
    font-size:2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}


/*header, nav*/
header{
    font-size: 1.3em;
    color: black;
}
.nav-sublist-item{
    font-size: 0.9em;
}
.nav-list-item.disturber a {
    color: #fff;
}

/*same CSS for header and footer*/
header, .impressum{
    background: #B0B0AF;
}


.nav-list-item, .footer-list-item {
    list-style-type: none;
    font-weight: bolder;
}
.nav-list-item a, .footer-list-item a {
    text-decoration: none;
    color: black
}

.nav-list, .footer-list{
    margin: 0;
    padding: 0;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*nav and main*/
.button a, .disturber a {
    text-decoration: none;
    color: #fff;
}

.disturber {
    background: #1C6AC6;
}

/*main*/
.button{
    background-color: #BD92DD;
    color: #fff;
}

.first-section {
    background-image: url(../assets/tileable_space.jpg);
}

.main-body {
   /* padding-left: 20px;
    padding-right: 20px; */
}
.second-section, form {
    background-color: #1D0D2D;
}

form {
    color: #FFF;
}
/*attraction - color to be deleted when clear where what*/
.attraction {
    color: black;
}
/*footer*/
footer {
    text-align: center;
    padding-top: 20px;
    background-color: #FFF;
    color: black;
}

footer a:hover {
    color: #1C6AC6;
}

footer a:visited {
    color: #BD92DD;
}

.footer-section{
    padding-bottom: 15px;
}

.impressum {
    text-align: center;
    padding: 10px 0 10px;
}
address {
    font-style: normal;
}

@media screen and (min-width: 641px) {
    body {
        font-size: 16px;
    }

    .footer-section {
        float: left;
        width: 33%;
    }
}