/*Custom Fonts----------------------*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

body {
    background: darkblue;
    width: 100vw;
    min-height: 100vh;
    color: pink;
    margin: 0;
    padding: 0;
}

.clearfix {
    clear:both;
}

h2{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 2em;
    color: pink;
}


p{
    font-family: 'ZCOOL XiaoWei', 'Open Sans', serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;
    color: pink;
}


/*header, nav*/
.nav-list-item.disturber a {
    color: darkblue;
}
/*same CSS for header and footer*/
header, footer{
    background: purple;
}


.nav-list-item, .footer-list-item {
    list-style-type: none;
}
.nav-list-item a, .footer-list-item a {
    font-family: 'ZCOOL XiaoWei', serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
    color: pink;
    display:inline-block;
}

.nav-list, .footer-list{
    margin: 0;
    padding: 0;
}

    

/*nav and main*/
.disturber, .button {
    background: pink;
}


/*main*/
.button{
    color: darkblue;
}

/*footer*/
footer {
    text-align: center;
    padding: 20px 0;
}

footer a:hover {
    color: pink;
}

footer a:visited {
    color: yellow;
}

.impressum {
    text-align: center;

}

@media screen and (min-width: 641px) {

    .footer-section {
        display: inline-block;
        float: left;
        width: 33%;
    }
}







