/*Custom Fonts----------------------*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');


/*
mobile first
main settings 
header 
main (index, attraction, tickets)
footer
*/

html{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 14px;
}
body {
    width: 100vw;
    min-height: 100vh;
    color: #FFF;
    margin: 0;
    padding: 0;

}
/*stop float */
.clearfix {
    clear:both;
}
/*special font definition*/
h1,h2,h3 {
    font-family: 'Righteous', cursive;
}
h1 {
    font-size:2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}

/*
basic grid parts details check in fitting section parts
pay attention: first mobile, below desktop -> because mobile 
uses 1 column all grid definition are in the media section 
below
*/


/*header, nav*/
header{
    font-size: 1.3em;
    color: black;
}
.nav-sublist-item{
    font-size: 0.9em;
}
.nav-list-item.disturber a {
    color: #fff;
}

/*same CSS for header and footer*/
header, .impressum{
    background: #B0B0AF;
}


.nav-list-item, .footer-list-item {
    list-style-type: none;
    font-weight: bolder;
}
.nav-list-item a, .footer-list-item a {
    text-decoration: none;
    color: black
}

.nav-list, .footer-list {
    margin: 0;
}

/*nav and main*/
.button a, .disturber a {
    text-decoration: none;
    color: #fff;
}

.disturber, .disturber.button {
    background: #1C6AC6;
}

/*main*/
.button{
    background-color: #BD92DD;
    color: #fff;
    width: 150px;
    height: 30px;
    text-align: center;
}
.linked-button {
    min-width: 100%;
    min-height: 100%;
}
.first-section {
    background-image: url(../assets/tileable_space.jpg);
}

.second-section, form {
    background-color: #1D0D2D;
}
/*index page*/
#main-page .second-section {
    padding-top: 1rem;
}

/*attraction page*/
.attraction {
    /* padding-left: 20px;
     padding-right: 20px; */
 }

 .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

/*ticket page*/
.tickets {
padding: 1em;
}
form {
    color: #FFF;
}

/*footer*/
footer {
    text-align: center;
    padding-top: 20px;
    background-color: #FFF;
    color: black;
}

footer a:hover {
    color: #1C6AC6;
}

footer a:visited {
    color: #BD92DD;
}

.footer-section{
    padding-bottom: 15px;
}
.footer-section .logo{
    width: 75%;
}
.footer-list-item.text {
    padding-top: 10px;
}
.footer-section .icon {
    padding: 0 10px;
}
.footer-section .socialmedia-icon{
    width: 40px;
    padding: 5px;
}

.footer-list .footer-list .footer-list-item{
    display: inline;
}
.impressum {
    text-align: center;
    padding: 10px 0 10px;
}
address {
    padding-top: 16px;
    font-style: normal;
}

@media screen and (min-width: 641px) {
    body {
        font-size: 16px;
    }

    /*here are the grid definitions*/
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'footer-grid footer-grid footer-grid';
    }
    footer {
        grid-area: footer-grid;
    }
    .footer-section {
        align-self: end;
    }
    .footer-section .logo{
        width: 100%;
    }
}